.client_page{
  .client{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    button{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      background-color: $primary-color;
      border-radius: 10px;
      padding: 20px;
      font-size: 20px;
    }
  }
  .client_services{
    .car{
      color: #000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      box-shadow: none;
      // background-color: $primary-color;
      margin-bottom: 10px;
      .progress{
        height: 20px;
        width: 50%;
      }
    }
  }
  .service-done{
    opacity: 0.7;
    .done{
      color: green;
      display: flex;
      align-items: center;
      gap: 10px;
      i{
        font-size: 30px;
      }
    }
  }
  .add_service_model{
    padding: 10px;
    // display: none;
    width: fit-content;
    .inputs{
      display: flex;
      flex-direction: column;
      gap: 15px;
      > div{
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      [type="submit"]{
        background-color: $primary-color;
      }
    }
    .employees {
      /////////////////////
      height: auto;
          opacity: 1;
          padding: 10px;
      /////////////////////
      background-color: #fff;
      transition: 0.3s;
      border-radius: 1rem;
      display: grid;
      gap: 10px;
      z-index: 8;
      margin-top: 5px;
      &::-webkit-scrollbar {
        width: 14px;
      }
      
      &::-webkit-scrollbar-thumb {
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 9px;
        background-color: #aaaaaa8a;
      }
      .employee {
        padding: 10px;
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        cursor: pointer;
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%;
          cursor: pointer;
          .img-container {
            width: 40px;
            height: 40px;
            aspect-ratio: 1/1;
            display: grid;
            place-content: center;
            border-radius: 50%;
            overflow: hidden;
          }
        }
        input {
          // justify-self: end;
          cursor: pointer;
          width: 30px;
          border: none;
          box-shadow: none;
          border-radius: 50%;
        }
      }
    }
  }
}