.client{
  // background-image: linear-gradient( $primary-color, $secondary-color);
  // color: #fff;
  &_info{
    a{
      font-size: 12px;
    }
    i{
      background-color: $secondary-color;
      color: $primary-color;
      padding: 7px;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
      @media (max-width:767px) {
        font-size: 12px;
        padding: 5px;
      }
    }
  }
  .car{
    color: #000;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    box-shadow: none;
    background-color: $primary-color;
    .progress{
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 50%;
    }
  }
}