.Eprofile{
  .user{
    .head, .user_info{
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      @media (max-width: 767px) {
        padding: 10px;
      }
      .img-container{
        width: 70%;
        border-radius: 50%;
        position: relative;
        aspect-ratio: 1/1;
        overflow: hidden;
        img{
          border-radius: 50%;
          border: 3px solid $primary-color !important;
        }
      }
    }
    .head{
      align-items: center;
      text-align: center;
    }
  }
}
.profile{
  .user{
    margin: 0;
    .col-sm-3{
      text-align: center;
    }
    &_image{
      width: 100%;
      // text-align: center;
      border-radius: 50%;
      position: relative;
      aspect-ratio: 1/1;
      img{
        border: 3px solid $primary-color !important;
        border-radius: 50%;
      }
      i{
        position: absolute;
        top: 70%;
        right: 0%;
        background-color: #f2ba35;
        border-radius: 50%;
        width: 40px;
        min-width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        cursor: pointer;
      }
      input{
        display: none;
      }
    }
    // &_info{
    //   width: 100%;
    // }
    input{
      padding: 10px;
      border-radius: 10px;
      outline: none;
      margin-bottom: 20px;
    }
    &_btns{
      display: flex;
      gap: 20px;
    }
  }
  .preve{
    // position: relative;
    // width: 100%;
    // height: 100%;
  }
}