/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nunito-VariableFont_wght.ttf"); /* IE9 Compat Modes */
}
* {
  font-family: "Nunito";
}

body {
  color: #212529;
  margin: 0;
  padding: 0;
}

#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 21;
  cursor: wait;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.is-invalid {
  border-color: red !important;
}

.round {
  border-radius: 1rem;
}

.bord {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.bord-2 {
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.green {
  color: green;
  font-weight: 700;
}

.car {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
@media (max-width: 992px) {
  .car {
    padding: 13px;
  }
}

.bt {
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: #f2ba35;
  padding: 10px 20px;
  border-radius: 10px;
}

.bt-c {
  background-color: #ccc;
}

nav.navbar {
  display: none;
  align-items: center;
}
@media (max-width: 992px) {
  nav.navbar {
    display: flex;
  }
}
nav.navbar .logo {
  width: 20%;
}
nav.navbar button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: #3d052e;
}

#overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
}

.container-xxl {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-container {
  display: flex;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

aside {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: calc(100vh - 2rem);
  width: 25%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  aside {
    position: fixed;
    z-index: 20;
    top: 10px;
    left: 10px;
    width: 250px !important;
    transition: 0.5s;
    transform: translateX(-270px);
  }
}
aside ul {
  padding: 0;
}
aside ul .active {
  background-color: #f2ba35;
  transform: scale(1.02);
}
aside ul .active:hover {
  background-color: rgba(242, 185, 53, 0.6431372549);
}
aside ul li {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  list-style: none;
  padding: 7px 10px;
  background-color: #fff;
  margin-bottom: 10px;
  transition: 0.3s;
}
aside ul li:hover {
  background-color: rgba(218, 218, 218, 0.504);
  transform: scale(1.03);
}
aside button {
  width: 100%;
  background-color: #3d052e;
  font-weight: bold;
  color: #fff;
  margin-top: auto;
  border-radius: 10px;
  padding: 7px 10px;
}
aside .css-n4yg98 {
  flex-shrink: 0;
  height: 2px;
  margin: 1rem 0;
  border: 0 solid rgba(0, 0, 0, 0.08);
  border-bottom: none;
  opacity: 0.25;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgba(0, 117, 255, 0), #000, hsla(0deg, 0%, 100%, 0)) !important;
}

.and {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
.and i {
  font-size: 50px;
  color: #3d052e;
}

aside.show-sidebar {
  transform: translateX(0);
}

.chart .car {
  height: auto;
  background-color: #f2ba35;
}

.progress-bar {
  background-color: #3d052e;
}

.fa-star {
  color: #f2ba35;
}

i.info {
  background-color: #3d052e;
  color: #f2ba35;
  padding: 7px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-right: 10px;
}
@media (max-width: 767px) {
  i.info {
    font-size: 12px;
    padding: 5px;
  }
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.soon {
  position: relative;
  overflow: hidden;
}
.soon::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "This Section Comming Soon";
  display: grid;
  place-content: center;
  background-color: rgba(247, 205, 107, 0.6431372549);
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
}

.fa-facebook-f {
  color: #1877f2;
}

.fa-times {
  color: red;
}

.fa-check {
  color: green;
}

header.home {
  display: flex;
  background-image: linear-gradient(rgba(242, 185, 53, 0.6), rgba(61, 5, 46, 0.6)), url("../public/images/index-bg.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  min-height: 680px;
}
header.home .lf,
header.home .ri {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.home .lf {
  color: #fff;
}
header.home .lf > div {
  width: 60%;
}
header.home .lf > div h1 {
  font-size: clamp(30px, 4vw, 50px);
  text-shadow: 3px 2px #3d052e, -3px -2px #f2ba35;
  font-weight: bolder;
}
header.home .lf > div p {
  font-size: larger;
}
header.home .lf > div button {
  background-color: rgba(242, 185, 53, 0.1725490196);
  border-radius: 10px;
  color: #fff;
  border: 2px solid;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 10px;
  transition: 0.2s;
}
header.home .lf > div button:hover {
  background-color: rgba(242, 185, 53, 0.3019607843);
}
header.home .lf > div button i {
  font-size: 25px;
}
header.home .lf form {
  width: 100%;
  text-align: left;
  margin-top: 50px;
}
@media (max-width: 992px) {
  header.home .lf {
    width: 100%;
  }
  header.home .lf > div {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header.home .ri {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
}
header.home .ri form {
  width: 60%;
}
header.home form {
  color: #212529;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  width: 60%;
  max-width: 700px;
}
header.home form input,
header.home form button {
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border-radius: 10px;
}
header.home form div {
  display: flex;
  flex-direction: column;
}
header.home form a {
  text-decoration: underline !important;
  color: blue !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
header.home form button[type=submit] {
  background-color: #f2ba35;
  transition: 0.2s;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.home form button[type=submit]:hover {
  opacity: 0.8;
}
header.home .video {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.dashboard .car {
  height: 100%;
}
.dashboard .w-card {
  color: #fff;
  background-image: linear-gradient(rgba(242, 185, 53, 0.7), rgba(61, 5, 46, 0.7)), url("../public/images/index-bg.jpg");
  background-size: cover;
  background-position: center;
}
.dashboard .w-card h3 {
  font-weight: bold;
}
.dashboard .w-card .user {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  cursor: pointer;
  background-color: rgba(242, 185, 53, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: #fff;
  padding: 10px;
  border-radius: 1rem;
}
.dashboard .w-card .user_image {
  width: 20%;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1/1;
  border: 5px solid #3d052e;
}
.dashboard .chart > div {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 10px;
}
.dashboard .clients-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard .clients-section .client-section {
  background-color: #f2ba35;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  transition: 0.3s;
}
.dashboard .clients-section .client-section:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  opacity: 0.8;
}
.dashboard .clients-section .client-section h5 {
  margin: 0;
}
.dashboard .clients-section .client-section .mark {
  padding: 10px;
  background-color: red;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  justify-self: flex-end;
  margin-left: auto;
  aspect-ratio: 1/1;
}
.dashboard table {
  width: 100%;
}
.dashboard table tbody, .dashboard table td, .dashboard table tfoot, .dashboard table th, .dashboard table thead, .dashboard table tr {
  padding: 10px 0;
}
@media (max-width: 767px) {
  .dashboard table td, .dashboard table th, .dashboard table tr {
    font-size: 12px;
  }
}
.dashboard table tr:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.dashboard table .members_img {
  display: inline-flex;
  border-radius: 50%;
  margin-left: -10px;
  transition: 0.2s;
}
.dashboard table .members_img:hover {
  transform: scale(1.1);
}
.dashboard table .members_img img {
  border-radius: 50%;
  border: 2px solid #f2ba35 !important;
}
@media (max-width: 767px) {
  .dashboard table tr td:last-child {
    text-align: center;
  }
}
.dashboard .posts .post {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.added {
  background-color: rgba(0, 128, 0, 0.3);
  color: darkgreen;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.added button {
  background-color: transparent;
  border: none;
  outline: none;
}

.anc h3 {
  text-align: center;
}
.anc form {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.anc form input,
.anc form select {
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
  transition: 0.3s;
}
.anc form button[type=submit] {
  border-radius: 10px;
  background-color: #f2ba35;
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.anc form button[type=submit]:hover {
  opacity: 0.9;
}
.anc form .gender_container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.anc form .gender_container .gender {
  text-align: start;
  display: flex;
  gap: 20px;
}
.anc form .gender_container .gender input {
  cursor: pointer;
  width: auto;
  border: none;
  box-shadow: none;
  border-radius: 50%;
  margin-right: 8px;
}
.anc form .s-e {
  display: flex;
  gap: 20px;
  position: relative;
}
.anc form .s-e .search-and-drop {
  flex-grow: 1;
}
.anc form .s-e .search-and-drop .search-input {
  display: flex;
}
.anc form .s-e .search-and-drop .search-input input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.anc form .s-e .search-and-drop .search-input button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: auto;
}
.anc form .s-e .search-and-drop .employees {
  height: 0px;
  overflow-y: scroll;
  padding: 0;
  opacity: 0;
  background-color: #fff;
  transition: 0.3s;
  border-radius: 1rem;
  display: grid;
  gap: 10px;
  z-index: 8;
  margin-top: 5px;
}
.anc form .s-e .search-and-drop .employees::-webkit-scrollbar {
  width: 14px;
}
.anc form .s-e .search-and-drop .employees::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9px;
  background-color: rgba(170, 170, 170, 0.5411764706);
}
.anc form .s-e .search-and-drop .employees .employee {
  padding: 10px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
}
.anc form .s-e .search-and-drop .employees .employee label {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  cursor: pointer;
}
.anc form .s-e .search-and-drop .employees .employee label .img-container {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.anc form .s-e .search-and-drop .employees .employee input {
  cursor: pointer;
  width: 30px;
  border: none;
  box-shadow: none;
  border-radius: 50%;
}
.anc form .s-e .search-and-drop .open-employees {
  height: 200px;
  opacity: 1;
  padding: 10px;
}

.client_info h4 i {
  color: #3d052e;
  font-size: 14px;
}
.client_info a {
  font-size: 12px;
}
.client .car {
  color: #000;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  box-shadow: none;
  background-color: #f2ba35;
}
.client .car .progress {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 50%;
}

.Eprofile .user .head, .Eprofile .user .user_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .Eprofile .user .head, .Eprofile .user .user_info {
    padding: 10px;
  }
}
.Eprofile .user .head .img-container, .Eprofile .user .user_info .img-container {
  width: 70%;
  border-radius: 50%;
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.Eprofile .user .head .img-container img, .Eprofile .user .user_info .img-container img {
  border-radius: 50%;
  border: 3px solid #f2ba35 !important;
}
.Eprofile .user .head {
  align-items: center;
  text-align: center;
}

.profile .user {
  margin: 0;
}
.profile .user .col-sm-3 {
  text-align: center;
}
.profile .user_image {
  width: 100%;
  border-radius: 50%;
  position: relative;
  aspect-ratio: 1/1;
}
.profile .user_image img {
  border: 3px solid #f2ba35 !important;
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .user_image i {
  position: absolute;
  top: 70%;
  right: 0%;
  background-color: #f2ba35;
  border-radius: 50%;
  width: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  cursor: pointer;
  z-index: 5;
}
.profile .user_image input {
  display: none;
}
.profile .user input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
}
.profile .user_btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.client_page .client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.client_page .client button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #f2ba35;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}
.client_page .client_services .car {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  box-shadow: none;
  margin-bottom: 10px;
}
.client_page .client_services .car .progress {
  height: 20px;
  width: 50%;
}
.client_page .service-done {
  opacity: 0.7;
}
.client_page .service-done .done {
  color: green;
  display: flex;
  align-items: center;
  gap: 10px;
}
.client_page .service-done .done i {
  font-size: 30px;
}
.client_page .add_service_model {
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.client_page .add_service_model .inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.client_page .add_service_model .inputs > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.client_page .add_service_model .inputs [type=submit] {
  background-color: #f2ba35;
}

.our-staff header.staff {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.our-staff header.staff h2 {
  margin: 0;
}
.our-staff header.staff form {
  display: flex;
}
.our-staff header.staff form input {
  background-color: #f6f6ff;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.our-staff header.staff form button {
  outline: none;
  background-color: #f2ba35;
  color: #3d052e;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.our-staff .staff-card {
  transition: 0.3s;
}
.our-staff .staff-card:hover {
  background-color: #ebebf6;
}
.our-staff .staff-card .head {
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.our-staff .staff-card .head .staff-img {
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1/1;
}
.our-staff .staff-card .social {
  display: flex;
  gap: 15px;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.our-staff .staff-card .social a {
  border: 1px solid rgba(0, 0, 0, 0.092);
  transition: 0.3s;
  border-radius: 10px;
  padding: 10px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
}
.our-staff .staff-card .social a:hover {
  scale: 1.1;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.116);
}

.calender-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.calender-container > .head {
  text-align: center;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  padding-bottom: 10px;
}
.calender-container > .head button {
  outline: none;
  border-radius: 10px;
  padding: 10px;
}
.calender-container .calender .hours {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: end;
}
.calender-container .calender .hours .hour {
  font-size: 12px;
  height: 50px;
  white-space: nowrap;
}
.calender-container .calender .days {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.calender-container .calender .days .day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.calender-container .calender .days .day:not(:last-child) {
  border-right: 1px solid rgba(204, 204, 204, 0.5);
}
.calender-container .calender .days .day-name {
  text-transform: capitalize;
}
.calender-container .calender .table {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7, auto);
}
.calender-container .calender .table .cel {
  border: 1px solid rgba(204, 204, 204, 0.5);
  height: 50px;
  cursor: pointer;
  position: relative;
}
.calender-container .calender .table .cel .cel-detail {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  top: 100%;
  transform: translateY(-25%);
  right: 105%;
  background-color: #f6f6f6;
  z-index: 9;
  padding: 10px;
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 600px;
  overflow-y: auto;
  border-radius: 10px;
  cursor: auto;
}
.calender-container .calender .table .cel .cel-detail::-webkit-scrollbar {
  width: 14px;
}
.calender-container .calender .table .cel .cel-detail::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9px;
  background-color: rgba(170, 170, 170, 0.5411764706);
}
.calender-container .calender .table .cel .cel-detail .head {
  padding: 0;
}
.calender-container .calender .table .cel .cel-detail button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background-color: transparent;
  align-self: flex-end;
}
.calender-container .calender .table .cel .cel-detail #closePopup {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 900;
  font-size: 20px;
  padding: 5px 15px;
}
.calender-container .calender .table .cel .cel-detail textarea {
  background-color: #fff;
  min-height: 100px;
}
.calender-container .calender .table .cel .cel-detail input[type=file] {
  display: none;
}
.calender-container .calender .table .cel .cel-detail label {
  width: 100%;
  background-color: #fff;
  text-align: center;
  font-size: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.calender-container .calender .table .cel .cel-detail label div {
  font-size: 18px;
}
.calender-container .calender .table .cel .cel-detail img {
  border-radius: 10px;
  padding: 0;
}
.calender-container .calender .table .cel .cel-detail #done {
  color: green;
  font-size: 25px;
  transition: 0.3s;
  border-radius: 10px;
}
.calender-container .calender .table .cel .cel-detail #done:hover {
  background-color: rgba(0, 128, 0, 0.3098039216);
}

.social .post button {
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}
.social .post img {
  border-radius: 5px;
}
.social .post .post-info {
  display: flex;
  flex-direction: column;
}
.social .post .post-info .date {
  margin-top: auto;
}
.social .post .btns {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.social .post .btns button:first-child {
  background-color: rgba(0, 128, 0, 0.2);
}
.social .post .btns button:first-child:hover {
  background-color: rgba(0, 128, 0, 0.4);
}
.social .post .btns button:nth-child(2) {
  background-color: rgba(255, 0, 0, 0.2);
}
.social .post .btns button:nth-child(2):hover {
  background-color: rgba(255, 0, 0, 0.4);
}
.social .post .comment {
  display: flex;
}
.social .post .comment input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.social .post .comment button {
  color: #fff;
  background-color: #f2ba35;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}/*# sourceMappingURL=globals.css.map */