@import "varibles";
/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Nunito-VariableFont_wght.ttf'); /* IE9 Compat Modes */
}
*{
  font-family: 'Nunito';
}
body {
  color:#212529;
  margin:0;
  padding:0;
}
#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 21;
  cursor: wait;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: inherit;
  }
}
h1, h2, h3, h4, h5, h6{
  text-transform: capitalize;
}
input, select, textarea{
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.is-invalid{
  border-color: red !important;
}
.round {
  border-radius: 1rem;
}
.bord {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.bord-2 {
  border: 3px solid rgba(0, 0, 0, 0.1);
}
.green{
  color: green;
  font-weight: 700;
}
.car{
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
  @media (max-width:992px) {
    padding: 13px;
  }
}
.bt{
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: $primary-color;
  padding: 10px 20px;
  border-radius: 10px;
}
.bt-c{
  background-color: #ccc;
}
nav.navbar{
  display: none ;
  align-items: center ;
  @media (max-width:992px) {
    display: flex;
  }
  .logo{
    width: 20%;
  }
  button{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: $secondary-color;
  }
}
#overlay{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  backdrop-filter: blur(5px);
  display: none;
}
.container-xxl {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content{
  // position: relative;
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
//   justify-content: space-between;
//   width: 100%;
//   height: fit-content;
//   min-height:calc(100vh - 20px);
}
.content-container{
  display: flex;
  gap: 1rem;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
aside {
  // position: fixed;
  height: fit-content;
  min-height: calc(100vh - 2rem);
  width: 25%;
  display: flex;
  flex-direction: column;
  @media (max-width:992px) {
    position: fixed;
    z-index: 20;
    top: 10px;
    left: 10px;
    width: 250px !important;
    transition: 0.5s;
    transform: translateX(-270px);
  }
  ul {
    padding: 0;
    .active{
      background-color: $primary-color;
      transform: scale(1.02);
      &:hover{
        background-color: #f2b935a4;
      }
    }
    li {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.7rem;
      list-style: none;
      padding: 7px 10px;
      background-color: #fff;
      margin-bottom: 10px;
      transition: 0.3s;
      &:hover {
        background-color: rgba(218, 218, 218, 0.504);
        transform: scale(1.03);
      }
    }
  }
  button{
    width: 100%;
    background-color: $secondary-color;
    font-weight: bold;
    color: #fff;
    margin-top: auto;
    border-radius: 10px;
    padding: 7px 10px;
  }
  .css-n4yg98 {
    flex-shrink: 0;
    height: 2px;
    margin: 1rem 0;
    border: 0 solid rgba(0, 0, 0, 0.08);
    border-bottom: none;
    opacity: 0.25;
    background-color: transparent;
    background-image: linear-gradient(
      90deg,
      rgba(0, 117, 255, 0),
      #000,
      hsla(0, 0%, 100%, 0)
    ) !important;
  }
}
.and{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  i{
    font-size: 50px;
    color: $secondary-color;
  }
}
aside.show-sidebar{
  transform: translateX(0);
}
.chart .car{
  height: auto;
  background-color: $primary-color;
}
.progress-bar{
  background-color: $secondary-color;
}
.fa-star{
  color: $primary-color;
}
i.info{
  background-color: $secondary-color;
  color: $primary-color;
  padding: 7px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  margin-right: 10px;
  @media (max-width:767px) {
    font-size: 12px;
    padding: 5px;
  }
}
.shadow-sm{
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.model{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.soon{
  position: relative;
  overflow: hidden;
  &::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "This Section Comming Soon";
    display: grid;
    place-content: center;
    background-color: #f7cd6ba4;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
}
.fa-facebook-f{
  color:#1877f2;
}
.fa-times{
  color: red;
}
.fa-check{
  color: green;
}
@import 'login';
@import 'dashboard';
@import 'addNewClient';
@import 'clients';
@import 'profile';
@import 'clientPage';
@import 'staff';
@import 'calender';
@import 'social';
@import 'page';
